@use "../abstracts/variables";
nav{
    background-color: variables.$fondo-verde;
    border-bottom: solid variables.$fondo-verde;
<<<<<<< HEAD
    opacity: 1;
=======
    color: variables.$fondo-beige;
>>>>>>> c15a89dd81b62d176e5c09dd761d9ae3f3757f70
}