@use "../abstracts/variables";
@use "../base/fonts";

.section-cards{
    text-align: center;
    padding: 100px;
    transition: 1s;

    .card-beneficio1{
        
        background: variables.$gradient-verde;
        border-color: variables.$fondo-verde;
        border-radius: 10px;
        border-width: 5px;
        margin: 30px;
        padding: 30px;
        transition: 0.5s;
        
        h2{
            color: variables.$fondo-beige;
        }
    
        p{
            font-family: fonts.$font-card;
            color: variables.$fondo-beige;
            font-size: 20px;
            transition: 1s;
        }

        &:hover{
            scale: 110%;
            transition: 0.5s;

        }
    }
    
    .card-beneficio2{
        background: variables.$gradient-beige;
        border-color: variables.$fondo-beige;
        border-radius: 10px;
        border-width: 5px;
        margin: 30px;
        padding: 30px;
        transition: 0.5s;

        h2{
            font-family: fonts.$font-body;
            color: variables.$fondo-azul;
        }
        
        p{
            color: variables.$fondo-beige;
            font-family: fonts.$font-card;
            font-size: 20px;
            transition: 1s;
        }

        &:hover{
            scale: 110%;
            transition: 0.5s;

        }
    }
    
    .card-beneficio3{
        background: variables.$gradient-azul;
        border-color: variables.$fondo-azul;
        border-radius: 10px;
        border-width: 5px;
        font-family: fonts.$font-body;
        margin: 30px;
        padding: 30px;
        transition: 0.5s;
    
        h2{
            color: variables.$fondo-beige;
            font-family: fonts.$font-body;
        }
    
        p{
            color: variables.$fondo-beige;
            font-family: fonts.$font-card;
            font-size: 20px;
            transition: 1s;
        }

        &:hover{
            scale: 110%;
            transition: 0.5s;
        }
    }

    
    &:hover{
        p{
            font-size: 25px;
        }
    }
}

.card-list{
    background: variables.$gradient-beige;
    border-color: variables.$fondo-azul;
    border-radius: 10px;
    border-width: 5px;
    font-family: fonts.$font-body;
    padding: 40px;
    transition: 0.5s;

    h5{
        color: black;
        font-family: fonts.$font-body;
        font-size: 25px;
    }

    p{
        color: variables.$fondo-beige;
        font-family: fonts.$font-card;
        font-size: 20px;
        transition: 1s;
    }

    &:hover{
        scale: 110%;
        transition: 0.5s;
    }
}