@use "../abstracts/variables";
.input{
    background-color: variables.$fondo-azul;
    color: white;
    
    ::shadow{
        color: variables.$fondo-azul-oscuro;
    }

    &::placeholder{
        color: white;
    }
    
    &:focus::placeholder{
        color: white;
    }

    &:focus{
        background-color: variables.$fondo-azul;
        color: white;
    }
}

